.TodoList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.todo-section,
.done-section {
  padding: 15px;
  word-wrap: true;
}

.todo-section h2,
.done-section h2 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}
