body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigation bar container */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  color: black;
}

/* Logo style */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Logo image */
.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

/* Logo text */
.logo-text {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

/* Navigation links container */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Navigation links style */
.nav-links a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: flex;
}

.dropdown svg {
  margin-right: 5px;
  cursor: pointer;
  stroke: black;
  stroke-width: 0.5px;
}
