* {
    
    margin: 0;
    padding: 0;
    font-size:50px;
    text-align: center;
    color: white;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2,1fr);

}
.nav{
    display: flex;
    flex-wrap: nowrap;
    
    height:15%
    
}

.header {
    background-color: #0d1b2a;
    flex:1;
    text-align: center;
    
}

.menu {
    background-color: #d62828;
    flex:2;
    text-align: center;
}

/* HERO 섹션 */
.hero {
    background-color: #457b9d;
    padding: 40px;
    flex: 2;
}

/* 메인 콘텐츠 */
.content {
    display: flex;
    flex: 3;
    gap: 5px;
}

/* MAIN 섹션 */
.main {
    background-color: #1b263b;
    padding: 40px;
    flex: 1;
}

.white{
    background-color: white;
    flex:1;
}

/* IMAGE & EXTRA 부분 */
.sub-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.image {
    background-color: #a8dadc;
    
    flex: 1;
}

.extra {
    background-color: #2a9d8f;
    
    flex: 1;
}

/* 하단 배너 */
.banner {
    background-color: #f4a261;
    padding: 20px;
    flex: 1;
}
