/* 기본 스타일 */
.App {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 상단으로 정렬 */
  transition: all 0.3s ease;
}

/* 라이트모드 스타일 */
.App.light {
  background-color: #fff;
  color: #000;
}

.App.light nav {
  background-color: #f0f0f0;
}

.App.light .content {
  background-color: #fff;
  color: #000;
}

/* 다크모드 스타일 */
.App.dark {
  background-color: #121212;
  color: #fff;
}

.App.dark nav {
  background-color: #333;
}

.App.dark .content {
  background-color: #121212;
  color: #fff;
}

/* nav 스타일 */
nav {
  display: flex;
  justify-content: space-between; /* 왼쪽은 h1, 오른쪽은 버튼 */
  align-items: center;
  padding: 5px 20px;
  height: 40px; /* nav 높이를 작게 설정 */
  width: 100%;
  box-sizing: border-box;
}

nav .nav-content h1 {
  margin: 0;
}

nav button {
  padding: 8px 16px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #005f7f;
}

/* content 스타일 */
.content {
  width: 100%;
  padding: 20px;
  text-align: center;
}
